<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.css') }}">
    <title>{{ titulo }}</title>
    
</head>
<body>

    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul class="list-unstyled" id ="messages">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container">
        <form method="post" action="/addUsuario">

            {{ form.csrf_token() }}

            <div class="mb-3">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.usuario.label(class="form-label") }}
                {{ form.usuario(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.senha.label(class="form-label") }}
                {{ form.senha(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.cadastrar(class="btn btn-primary") }}
            </div>

        </form>

    </div>